
@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('../fonts/GothamPro-Medium.eot');
	src: local('../fonts/Gotham Pro Medium'), local('../fonts/GothamPro-Medium'),
		url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Medium.woff') format('woff'),
		url('../fonts/GothamPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro BlackItalic';
	src: url('../fonts/GothamPro-BlackItalic.eot');
	src: local('../fonts/Gotham Pro Black Italic'), local('../fonts/GothamPro-BlackItalic'),
		url('../fonts/GothamPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-BlackItalic.woff') format('woff'),
		url('../fonts/GothamPro-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Gotham Pro Medium';
	src: url('../fonts/GothamProNarrow-Medium.eot');
	src: local('../fonts/Gotham Pro Narrow Medium'), local('../fonts/GothamProNarrow-Medium'),
		url('../fonts/GothamProNarrow-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamProNarrow-Medium.woff') format('woff'),
		url('../fonts/GothamProNarrow-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro Black';
	src: url('../fonts/GothamPro-Black.eot');
	src: local('../fonts/Gotham Pro Black'), local('../fonts/GothamPro-Black'),
		url('../fonts/GothamPro-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro-Black.woff') format('woff'),
		url('../fonts/GothamPro-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}


