html {
scroll-behavior: smooth; 
font-size: 16px;
box-sizing:border-box;
/*плавная прокрутка якорных ссылок*/
}

body{
	font-family: 'Gotham Pro',sans-serif;
	margin: 0;
	
}

header{
background: #fff url("../img/background.jpg") center center no-repeat;
/*height: 130vh;*/
padding-top: 83px;
padding-bottom: 80px;
}

.header-text__title{
	font-size: 48px;
	margin-bottom: 24px;
	font-weight: 900;
	font-style: italic;

}

.header-text__subtitle{
	font-size: 30px;
	margin-bottom: 44px;
	font-weight: 700;
	font-style: normal;
}

.header-text__subtitle:hover{
font-size: 50px;
color:#8B0000;
}

.header-text__paragraph{
	font-size: 18px;
	margin-bottom: 38px;
	line-height: 24px;
	font-weight: 500;
	font-style: normal;
}

.header-text__prise{
	font-size: 48px;
	margin-bottom: 48px;
}

.header-text__title:hover,
.header-text__prise:hover{
	font-weight: bold;
	color:black;
}

.button{
	border-radius: 10px;
	background-color:#f05a22;
	padding: 18px 35px 18px 35px;
	font-size: 24px;
	font-weight: 900;
}

.button:hover{
	background-color: transparent;
	color:#f05a22;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


}

.link-2{
text-decoration-line:none;
color:#fff;
}

.link-2:hover{
	color:#f05a22;
}

.download-book{
	margin-top: 25px;
	width: 150px;
	height: 30px;
	text-align: center;
	font-size: 14px;
	padding-top: 6px;
	border-radius: 5px;
	background-color: transparent;
	border:2px solid #191970;
}

.download-book:hover{
	background-color: blue;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	
	/*margin-left: 300px;*/
}

.download{
	text-decoration: none;
	color:blue;
	
}
.download:hover{
	color: #fff;

}

/*----------------/header-----------------------*/

.features{
	background-color: #2b3761;
	color:#fff;
	/*height: 90vh;*/
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;
}

.section-title{
	font-size: 30px;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	margin-bottom: 100px;	
}
.col-xl-3{
	margin-bottom: 30px;
}

.features__img{
	max-height: 45px;
	margin-bottom: 20px;
}

div>p.features-text{
	font-size: 14px;
	font-weight: 400;
}

/*---------------/section features-------------------------*/

section.buyers{
padding-top: 90px;
padding-bottom: 90px;

}

.section-title_2{
	font-size: 30px;
	font-weight: 900;
	font-style: normal;
	text-align: center;
	margin-bottom: 100px;
}

.name_1{
margin: 7px;
}

.name_2{
margin: 7px;
}

/*----------------section.features---------------------*/


footer#footer{
	/*margin-top: 70px;*/
	width: 100%;
	/*height: 90px;*/
	background-color:  #2b3761;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
	

}
.link{
	display: inline-block;
	border:1px solid white;
	width: 200px;
	padding: 10px;
	text-align: center;
	border-radius: 15px;
}

.link:hover{
	box-shadow: 5px 5px 10px black;
	margin-right: 3px;
	background-color: rgba(255,255,255,0.05);
}

.link>a{
	text-decoration: none;
	color:#fff;
	transition:0.2s;

}

h3{
	color:#fff;
	margin-top: 30px;
	font-size: 14px;
	font-weight: italic;
	text-decoration: underline;
}